@use 'sass:list';
@use 'sass:color';
@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

@function chaos($reps: 1,$start: 0.1)
{
    $chaos: $start;
    @for $i from 1 through $reps
    {
        $chaos: $chaos * (1 - $chaos) * 4;
    }
    @return $chaos;
}

@function getchaos($num: 1, $start: 0.1)
{
    $chaos: ();
    @for $i from 1 through $num
    {
        $chaos: list.append($chaos, chaos($i, $start));
    }
    @return $chaos;
}

@function getrands($num: 1, $limit: 255)
{
    $rands: ();
    @for $i from 1 through $num
    {
        $rands: list.append($rands, math.random($limit));
    }
    @return $rands;
}

$rands: getrands(99,null);
$chaos: getchaos(99);

@keyframes rand-colours-bw
{
    @for $i from 1 through 99
    {
        #{$i%100%}
        {
            background-color: rgba(#ffffff,1 - list.nth($chaos, $i));
        }
    }
}

@function background-grid($thickness: 1px, $hole-size, $grid-colour: #000000, $hole-colour: #00000000)
{
    @return (linear-gradient($grid-colour $thickness, transparent 1px) right top/ $hole-size $hole-size padding-box repeat scroll, linear-gradient(90deg, $grid-colour $thickness, $hole-colour 0) right top/ $hole-size $hole-size repeat scroll);
}

$fonts: 'Kode Mono', 'Courier New', Courier, monospace;
$colours: #151515 #4b4b4b #808080 #a0a0a0 #b0b0b0 #eaeaea #c0ffff;
$grayout: 25%;
$bg-colour: list.nth($colours,1);
$dark-colour: list.nth($colours,2);
$light-colour: list.nth($colours,3);
$highlight-colour: list.nth($colours,6);
$gray-out-colour: list.nth($colours,3);
$text-colour: list.nth($colours,4);
$link-colour: list.nth($colours,7);
$text-thick-mult: 25;
$head-thick-prod: 44800px;

@mixin text($size: 16px)
{
    font-size: $size;
    font-weight: min(math.div($text-thick-mult * $size, 1px), 900);
}

@mixin header($size: 64px, $colour: $highlight-colour, $opacity: 100%, $disable-opacity: false)
{
    font-size: $size;
    font-weight: min(math.div($head-thick-prod, $size), 900);
    @if not $disable-opacity
    {
        $perc: min(math.div((100% - $grayout) * 64px , $size * 100%), 1);
        color: rgba($colour, $perc * $opacity);
    }
    @if $disable-opacity
    {
        color: $colour;
    }
}

@mixin box($theme: $light-colour, $collapse-margin: false)
{
    border-width: 0.25rem;
    border-style: solid;
    margin: 1rem 1rem 0rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    border-color: $theme;
    box-sizing: border-box;
}

@mixin port($percentage: 90)
{
    max-width: $percentage*1vmin;
    margin-inline: auto;
}

@mixin fit()
{
    min-width: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    padding: 0;
}

.footer 
{
    box-sizing: border-box;
    padding: 1em;
    @include port;
    > .box
    {
        display: inline;
        margin-right: 1em;
    }
}

.box
{
    @include box;
    @include port;
    @include text;
}

.box:not(:has(.box))
{
    @include box($dark-colour);
    @include port;
    @include text;
}

.img-box
{
    width: auto;
}
.gray-out
{
    color: rgba($gray-out-colour,100% - $grayout);
}

div.title, .codename
{
    a
    {
        text-decoration: none;
        @include header();
        transition: 500ms cubic-bezier(0.19, 1, 0.22, 1) color;
    }
    a:hover
    {
        @include header(64px, $highlight-colour, 100%, true);
    }
    a:not(& a)
    {
        color:$link-colour;
    }
}

div.title
{
    @include text(32px);
}

.codename
{
    @include header();
    display: inline;
}

body
{
    @include fit();
    color: $text-colour;
    font-family: $fonts;
    margin: 0;
}
html
{
    @include fit();
    margin: 0;
    margin: 0;
    padding: 0;

}
.bg
{
    background: background-grid(9px, 10px, $bg-colour, transparent);
    animation: rand-colours-bw 100s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

.main-wrapper
{
    position: relative;
    @include fit();
    > *:not(:first-child)
    {
        @include fit();
        position: absolute;
        top: 0;
        bottom: 0;
    }

    @for $i from 1 through 99
    {
        > div:nth-child(#{$i})
        {
            z-index: 1-$i;
        }
    }
    &::after
    {
        content: "";
        @include fit();
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: -100;
        background-color: $bg-colour;
    }
}

.code-expl
{
    @extend .gray-out;
    @include header(32px, $gray-out-colour, 75%);
    display: inline;
}

.scroll-bg
{
    padding: 1em 1em 1em 1em;
    overflow: visible;
    min-height: 100vh;
    min-width: 100vw;
}

img.proj-ill
{
    @include port(30);
}

.grid-row
{
    display: inline;
    height: 1%;
    margin: 0;
    .grid-item
    {
        display: inline-block;
        width: 1%;
        margin: 0;
    }
}